<template>
  <main>
    <pkmn-selected 
      @finished-loading-data="finishedLoadingData" 
      :pkmn-list="pkmnList" 
      :id="id" 
      :viewport-height="viewportHeight"
    />
    <pkmn-sound v-if="!loading" :id="id" />
  </main>
</template>

<script>
import PkmnSelected from '@/components/PkmnSelected.vue';
import PkmnSound from '@/components/PkmnSound.vue';

export default {
  components: {
    PkmnSelected,
    PkmnSound,
  },
  props: {
    pkmnList: {
      type: Array,
      required: true,
    },
    id: {
      type: [Number,String],
      required: true,
    },
  },
  data() {
    return {
      loading: true
    }
  },
  computed: {
    viewportHeight() {
      return window.innerHeight 
    },
  },
  watch: {
    async id(newId, oldId) {
      this.loading = true;
    },
  },
  methods: {
    finishedLoadingData(val) {
      this.loading = val;
    }
  },
}
</script>
