<template>
  <div class="pkmn-sound" ref="audio" >
    <div class="pkmn-sound__player-wrap" v-html="audioSource"></div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: [Number,String],
      required: true,
    },
  },
  computed: {
    audioSource() {
      return `<audio autoplay controls><source src="/cries/${this.id}.ogg" type="audio/ogg"></audio>` 
    },
  },
}
</script>

<style>

</style>