<template>
  <ul class="pkmn-list">
    <li class="pkmn-list__item"
      v-for="(pkmn, index) in pkmnList" :key="pkmn.name"
      v-show="match(pkmn.name)">
      <router-link :to="`/pokemon/${index + 1}`" class="pkmn-list__btn" >
        <span class="pkmn-list__icon">
            <img :src="`/icons/${index + 1}.png`" alt="" class="pkmn-list__img">
        </span>
        <span class="pkmn-list__index">{{index + 1}} - </span>
        <span class="pkmn-list__name">{{pkmn.name}}</span>
      </router-link>
      <!-- <button  class="pkmn-list__btn" @click="$emit('lol', index)">
        <span class="pkmn-list__icon">
            <img :src="`/icons/${index + 1}.png`" alt="" class="pkmn-list__img">
        </span>
        <span class="pkmn-list__index">{{index + 1}} - </span>
        <span class="pkmn-list__name">{{pkmn.name}}</span>
      </button> -->
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    pkmnList: {
      type: Array,
      required: true,
    },
    filter: {
      type: String,
    },
  },
  methods: {
    match(name) {
      return name.includes(this.filter)
    },
  },
}
</script>

<style scoped lang="scss">
.pkmn-list__item {
  border-bottom: 2px solid rgb(0 0 0 /.1)
}
.pkmn-list__btn {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  text-decoration: none;
  &:visited {
    color: currentColor;
  }
}
.pkmn-list__btn:hover {
  background: var(--blue1);
  color: var(--light1);
}
.pkmn-list__img {
  image-rendering: pixelated;
}
</style>