<template>
  <!-- <transition name="bounce" mode="out-in" appear> -->
    <figure class="pkmn-main" :class="{'pkmn-main--loaded' : (!loading && pkmnImgLoaded)}">
      <div class="pkmn-main__img-wrap" :style="`height:${pkmnViewportHeight}`">
        <img ref="pkmnImg" src="" alt="" class="pkmn-main__img" :style="`height: ${pkmnFrameHeight}`">
        <!-- <img :src="`/svg/${id}.svg`" alt="" :style="`height: ${pkmnFrameHeight}`" class="pkmn-main__img"> -->
      </div>
      <figcaption class="pkmn-main__info" >
        <h1 class="pkmn-main__name">{{ pkmnCurrentName }}</h1>
        <div v-if="this.pkmnInfo2.is_legendary" class="pkmn-main__legendary">Legendary</div>
        <div v-if="this.pkmnInfo2.is_mythical" class="pkmn-main__legendary">Mythical</div>
        <div class="pkmn-main__types">
          <span 
            class="pkmn-main__type" 
            :class="`pkmn-main__type--${type.type.name}`" 
            v-for="type in this.pkmnCurrentTypes" 
            :key="type.type.name"
            :style="`--type-color: var(--type-${type.type.name})`"
            >
              {{ type.type.name }}
            </span>
        </div>
        <div class="pkmn-main__height">
          <span class="pkmn-main__label">Height </span> 
          <span class="pkmn-main__value">{{ pkmnCurrentHeight }}</span>
        </div>
        <div class="pkmn-main__weight">
          <span class="pkmn-main__label">Weight </span> 
          <span class="pkmn-main__value">{{ pkmnCurrentWeight }}</span>
        </div>
        <div v-if="pkmnInfo2.evolves_from_species" class="pkmn-main__evolves-from">
          <span class="pkmn-main__label">Evolves from </span> 
          <span class="pkmn-main__value">
            <router-link :to="pkmnEvolvedFromLink(pkmnInfo2.evolves_from_species.url)">
              {{ pkmnInfo2.evolves_from_species.name }}
            </router-link>
          </span>
        </div>
        <div class="pkmn-main__description" >{{ pkmnCurrentDescription }}</div>
      </figcaption>
    </figure>
  <!-- </transition> -->
</template>

<script>
export default {
  props: {
    pkmnList: {
      type: Array,
      required: true 
    },
    id: {
      type: [Number, String],
      required: true 
    },
    viewportHeight: {
      type: [Number, String],
      required: true 
    },
  },
  data() {
    return {
      pkmnInfo: [],
      pkmnInfo2:'',
      loading: true,
      pkmnImgLoaded: false,
    }
  },
  computed: {
    pkmnCurrentName() {
      return this.pkmnList[this.id - 1]?.name;
    },
    pkmnCurrentDescription() {
      if(this.pkmnInfo2.flavor_text_entries) {
        for (const item of this.pkmnInfo2.flavor_text_entries) {
          if(item.language.name === 'en') {
            return item.flavor_text;
          }
        }
      }
      else {
        return '';
      }
    },
    pkmnCurrentTypes() {
      return this.pkmnInfo.types
    },
    pkmnCurrentWeight() {
      return Math.round(this.pkmnInfo.weight / 4.536) + ' lbs';
    },
    pkmnCurrentHeight() {
      const inches = this.pkmnInfo.height * 3.937;
      const pkmnFt = inches/12;
      const pkmnIn = inches % 12;
      return `${Math.round(pkmnFt)}' ${Math.round(pkmnIn)}"`;
    },
    pkmnFrameHeight() {
      const weight = this.pkmnInfo.weight;
      if (weight < 100) {
        return '60%';
      } else if (weight < 500) {
        return '75%';
      } else {
        return '110%';
      }
    },
    pkmnViewportHeight() {
      return Math.round(this.viewportHeight / 2)+'px'
    }
  },
  methods: {
    pkmnEvolvedFromLink(url) {
      return `/pokemon/${url.split('https://pokeapi.co/api/v2/pokemon-species/')[1].slice(0, -1)}`
    },
    async fetchData(endpoint) {
      try {
        const response = await fetch(endpoint);
        const data = await response.json();
        return data;
      } catch (error) {
        console.error(error)
      }
    },
    async getPokemonInfo(id) {
      this.loading = true;
      const promise1 = await this.fetchData(`https://pokeapi.co/api/v2/pokemon/${id}/`)
      const promise2 = await this.fetchData(`https://pokeapi.co/api/v2/pokemon-species/${id}/`)
      const loading = false;
      console.log('getPokemonInfo')

      try {
        [this.pkmnInfo, this.pkmnInfo2, this.loading] = await Promise.all([promise1, promise2, loading]);
      } catch (err) {
        console.log(error)
      } finally {
        this.$emit('finishedLoadingData', this.loading);
      }
    },

    async loadImage(url, elem) {
      this.pkmnImgLoaded = false;
      const promise = new Promise((resolve, reject) => {
        elem.onload = () => resolve(elem);
        elem.onerror = reject;
        elem.src = url;
      });
      promise
        .then(() => {
          console.log('image loaded!')
          this.pkmnImgLoaded = true;
        })
        .catch(err => {
          console.error(err)
        })
    }

  },
  async created () {
    this.getPokemonInfo(this.id);
  },
  async mounted () {
    await this.loadImage(`/svg/${this.id}.svg`, this.$refs.pkmnImg);
  },
  watch: {
    async id(newId, oldId) {
      this.getPokemonInfo(newId);
      await this.loadImage(`/svg/${this.id}.svg`, this.$refs.pkmnImg);
      window.scrollTo({
        top: 0,
        left: 0,
        // behavior: 'smooth'
      });
    },
  }
}
</script>

<style scoped lang="scss">
  .pkmn-main {
    opacity: 0;
    position: relative;
  }
  .pkmn-main__img-wrap {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 var(--gap3);
    background: #222;
    // background: radial-gradient(var(--type-fire), transparent), var(--dark1);

    @media screen and (min-width: 768px) {
      height: calc(var(--gap) * 30)
    }
  }
  .pkmn-main__img {
    // height: 110%;
    margin-bottom: -5%;
    max-width: unset
  }
  .pkmn-main--loaded {
    opacity: 1;
    transition: 0.3s ease all;
    .pkmn-main__img {
      animation-name: pokemonIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
  .pkmn-main__info {
    padding: var(--gap) var(--gap3);
  }
  .pkmn-main__type {
    background: var(--type-color);
    padding: var(--gap) var(--gap2);
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 3px;
    & + & {
      margin-left: var(--gap);
    }
  }
</style>