<template>
    
  <router-view :pkmn-list="pkmnList" />

  <nav class="pkmn-nav">
    <input type="text" placeholder="search" v-model="pkmnSearch">
    {{ pkmnSearch }}
    <pkmn-select :pkmnList="pkmnList" :filter="pkmnSearch" />
  </nav>
  
</template>

<script>
import PkmnSelect from '@/components/PkmnSelect.vue';

export default {
  components: {
    PkmnSelect,
  },
  data() {
    return {
      pkmnAmount: 251,
      pkmnList : [],
      pkmnSearch: '',
      error: false,
    }
  },
  methods: {
    setActivePkmnId(index) {
      this.pkmnCurrentId = index+1;
      console.log(this?.pkmnList[this?.id-1]?.name)
    },
    async getPkmnList(amount) {
      const endpoint = 'https://pokeapi.co/api/v2/pokemon?limit='+amount;
      try {
        const response = await fetch(endpoint);
        const data = await response.json();
        this.pkmnList = data.results;
        this.error = false
      } catch(error) {
        console.error(error)
        this.error = true;
      }
    }
  },
  created () {
    this.getPkmnList(this.pkmnAmount);
  },
}
</script>



<style lang="scss">
:root {
  --blue1: #3d7dca;
  --blue2: #003a70;
  --gold1: #ffcb05;
  --dark1: rgb(7, 14, 36);
  --light1: white;

  --type-normal: hsl(60, 22%, 56%);
  --type-fire: #f08030;
  --type-fighting: #C03028;
  --type-water: #6890F0;
  --type-flying: #A890F0;
  --type-grass: #78C850;
  --type-poison: #A040A0;
  --type-electric: #F8D030;
  --type-ground: #E0C068;
  --type-psychic: #F85888;
  --type-rock: #B8A038;
  --type-ice: #98D8D8;
  --type-bug: #A8B820;
  --type-dragon: #7038F8;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-steel: #B8B8D0;
  --type-fairy: #EE99AC;
  --type-unknown: #68A090;

  --gap: 10px;
  --gap2: calc(var(--gap) * 2);
  --gap3: calc(var(--gap) * 3);
  --gap4: calc(var(--gap) * 4);
  --gap5: calc(var(--gap) * 5);
  --gap-: calc(var(--gap) * -1);
  --gap2-: calc(var(--gap) * -2);
  --gap3-: calc(var(--gap) * -3);
  --gap4-: calc(var(--gap) * -4);
  --gap5-: calc(var(--gap) * -5);

}
@font-face {
  font-family: Lexend;
  src: url(/fonts/lexend.woff2) format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Newsreader;
  src: url(/fonts/newsreader.woff2) format('woff2');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  text-transform: capitalize;
}
strong {
  font-weight: 400;
}
h1 {
  color:red;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
img {
  max-width: 100%;
}
main {
  // position: sticky;
  // top: 0;
  // z-index: 2;
  background: white;
  // opacity: 0;
  position: relative;
}

@keyframes pokemonIn {
  0%   {
    filter: brightness(0%);
    transform: scale(0) rotate(0);
  }
  20%  {
    filter: brightness(0%);
    transform: scale(1.1) rotate(10deg);
  }
  50%  {
    filter: brightness(0%);
    transform: scale(.8) rotate(-5deg);
  }
  75% {
    filter: brightness(00%) invert(1);
    transform: scale(1.1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
    filter: brightness(100%) invert(0);
  }
}
</style>